<ul class="list-group list-group-flush">
    <a href="">
      <li class="list-group-item">
        <h2>es un videojuego de fútbol sala desarrollado por Next Level Games para la consola Nintendo GameCube.</h2>
        <img src="assets/img/juegos/ninmario.jpg" width="100px" height="100px" alt="">
        <h1>Super Mario Strikers</h1>
      </li>
    </a>
    <br>
    <a href="">
      <li class="list-group-item">
        <h2> es un videojuego de carreras desarrollado y publicado por Nintendo para la consola Wii U.</h2>
        <img src="assets/img/juegos/ninkart.jpg" width="100px" height="100px" alt="">
        <h1>Mario Kart 8</h1>
      </li>
    </a>
    <br>
    </ul>