<div class="cardi2">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/conPlay.jpg" class="card-img-top" height="180px">
      <div class="card-body">
        <a href="hplay"> <button class="btne">PlayStation</button></a>
      </div>
    </div>
  </div>
  
  <div class="cardi3">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/conNin.jpg" class="card-img-top" height="180px">
      <div class="card-body">
        <a href="hnin"> <button class="btne">Nintendo</button></a>
      </div>
    </div>
  </div>


<div class="cardi">
<div class="card" style="width: 18rem;">
    <img src="assets/img/conxbox.jpeg" class="card-img-top" height="180px">
    <div class="card-body">
      <a href="hxbox"><button class="btne">Xbox</button></a>
    </div>
  </div>
</div>

