h1{
    color: aqua;
    width: 189px;
    margin-top: 30px;
    margin-left: 150px;
    border-radius: 6px;
    font-size: 30px;
    letter-spacing: 3px;
    padding: 0 15px;
    border: 2px solid #03cc57;
    background: transparent;
    color: #fff;
    outline: none;
}
