

<div class="p-4">
    <ol class="list-unstyled">
    
    <table class="table table-borderless">
             <thead class="">
                 <tr>
                     <th><img  class="img1"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/2048px-Facebook_f_logo_%282019%29.svg.png" title="Facebook" width="100" height="100"></th>
                     <th><img  class="img2"  src="https://i.pinimg.com/originals/79/7a/fe/797afe1351677d0ad8787224e6a5be2a.png" title="Instagram" width="100" height="100"></th>
                     <th><img  class="img3"  src="https://img.icons8.com/cotton/2x/twitter.png" title="Twitter" width="100" height="100"></th>
                 </tr>
             </thead>
             <tbody>
                <tr>
                    <td><li><a href="https://www.facebook.com/"><H2>Facebook</H2></a></li></td>
                    <td><li><a href="https://www.instagram.com/"><H2>Instagram</H2></a></li></td>
                    <td><li><a href="https://twitter.com/explore"><H2>Twitter</H2></a></li></td>
                </tr>             
</tbody>

