<ul class="list-group list-group-flush">
    <a href="">
      <li class="list-group-item">
        <h2>es una saga de videojuegos de plataformas para PlayStation aunque también existen versiones para teléfonos móviles.</h2>
        <img src="assets/img/juegos/ratplay.jpg" width="100px" height="100px" alt="">
        <h1>Ratchet & Clank</h1>
      </li>
    </a>
    <br>
    <a href="">
      <li class="list-group-item">
        <h2> es un juego de disparos en tercera persona multijugador desarrollado por Cold Iron Studios en colaboración con 20th Century Games de Disney.</h2>
        <img src="assets/img/juegos/alienplay.jpg" width="100px" height="100px" alt="">
        <h1>Aliens: Fireteam Elite</h1>
      </li>
    </a>
    <br>
    </ul>