<ul class="list-group list-group-flush">
  <a href="hfxbox">
    <li class="list-group-item">
      <h2>Guardianes de la Galaxia es un juego de acción y aventura de 2021 desarrollado por Eidos Montréal y publicado por la Square Enix de Europa.</h2>
      <img src="assets/img/juegos/guarxbox.jpg" width="100px" height="100px" alt="">
      <h1>Guardianes de la Galaxia </h1>
    </li>
  </a>
  <br>
  <a href="">
    <li class="list-group-item">
      <h2> es un videojuego de plataformas desarrollado por Vicarious Visions y publicado por Activision como una exclusiva temporal.</h2>
      <img src="assets/img/juegos/xboxcrash.jpg" width="100px" height="100px" alt="">
      <h1>Crash bandicoot</h1>
    </li>
  </a>
  <br>
  </ul>